/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'cheltenham';
  src: url(./fonts/cheltenham-normal-500.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'cheltenham';
  src: url(./fonts/cheltenham-normal-700.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'franklin';
  src: url(./fonts/franklin-normal-500.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'franklin';
  src: url(./fonts/franklin-normal-700.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'imperial';
  src: url(./fonts/imperial-normal-500.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'imperial';
  src: url(./fonts/imperial-normal-700.ttf);
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
header {
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  height: 43px;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  top: 0px;
}
.navbar-button {
  background-color: #567b95;
  border-radius: 3px;
  color: #ffffff;
  font-size: 11px;
  padding: 11px 12px 8px;
}
ul {
  display: inline-flex;
  list-style-type: none;
}

.main-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.main-photo-description{
  width: 712px;
}

.main-icons{
  display: flex;  
  justify-content: space-between;
}

.main-content-width{
  width: 600px;
}

.author{
  justify-content: flex-start;
}
.infographic{
  width: 800px;
}
.infographic-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
}