/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
header {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  height: 43px;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  top: 0px;
}
.left-icons *{
  padding-left: 15px;
}
.bar-title{
  font-weight: 700;
  padding-left: 15px;
}
.navbar-button {
  background-color: #567b95;
  border-radius: 3px;
  color: #ffffff;
  font-size: 11px;
  padding: 11px 12px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.article-title{
  display: flex;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 600;
  font-size: 2em;
  padding-bottom: 30px;
  width: 40%;
}
.login-button{
  margin-right: 15px;
}
ul {
  display: inline-flex;
  list-style-type: none;
}

.main-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
h2.article-text{
  font-weight: bold;
}
.article-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-bottom: 19px;
  line-height: 30px;
}
.main-photo-description{
  width: 712px;
  color: #666666;
  font-size: 15px;
}

.credit{
  font-size: 13px;
  color: #888888;
}
.author{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 40px;
}
.main-icons{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}
.icon-container{
  width: 30px;
  height: 30px;
  background-color: #eeeeee;
  border-radius: 100%;
  margin: 5px;
  padding: 10px;
  font-size: 12px;
}
.icons-two{
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 5px;
  padding: 10px;
  font-size: 14px;
}
.second-photo-description{
  color: #666666;
  font-size: 15px;
}
.video-description{
  color: #666666;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.main-content-width{
  width: 600px;
}
.text-links{
  color:#326891;
  text-decoration: underline;
}
.notification-line{
  width: 80px;
}
.notification1{
  margin-top: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.notification2{
  margin-bottom: 10px;
  color: #326891;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.author{
  justify-content: flex-start;
}

.infographic{
  margin-top: 20px;
  width: 860px;
  margin-bottom: 40px;
}
.infographic-element{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
}
.infographic-element-introduction{
  font-weight: bold;
}
.infographic-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-bottom: 10px;
}
.infographic-subtitle{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 14px;
  color: #666666;
  padding-bottom:20px;
}
.infographic-grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  margin-bottom: 60px;
  grid-column-gap: 15px;
}
.infographic-line{
  float: left;
  width: 60px;
}
.grid-title{
  font-weight: bold;
}
.infographic-author{
  clear: left;
  padding-top: 15px;
}
.article-final{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
}
.comments-button{
  width: 350px;
}
.final-buttons{
  float: right;
}
.more-news {
  padding: 6%;
  display: flex;
}
.news-articles{
  flex-grow:3;
  display:grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(3,1fr);
}
.most-popular{ 
  flex-grow:1;
}

.editors-picks-bottom{
  flex-grow:3;
  display:grid;
  grid-template-rows: repeat(1,1fr);
  grid-template-columns: repeat(3,1fr);
}
.line{
  visibility: hidden;
}
.left-container{
  margin-right: 3%;
}
.footer-section{
  padding: 3%;
  margin-bottom: 60px;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  position: fixed;
  color:#ffffff;
  background-color: #000000;
  bottom: 0px;
}
.footer-info{
  display:grid;
  grid-template-columns: repeat(6,1fr);
}
.footer-lists{
  display: block;
}
.bottom-info{
  display:flex;
  font-size: 10px;
  justify-content: space-evenly;
}
.links-footer{
  display:flex;
  width: 80%;
  justify-content: space-evenly;
}
.bottom-button{
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-size: 14px;

}
.final-list{
  padding-left: 15px;
  border-left: 1px solid #000000;
}
